<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.atakmap.android.LoRaBridge.plugin"
    tools:ignore="GoogleAppIndexingWarning">

    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.INTERNET"/>


    <application 
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:description="@string/app_desc"
        android:extractNativeLibs="true"
        android:theme="@style/AppTheme" >
        <meta-data android:name="plugin-api" android:value="${atakApiVersion}"/>
        <meta-data android:name="app_desc" android:value="@string/app_desc"/>


       <!-- allow for plugin discovery -->
       <activity android:name="com.atakmap.app.component"
           tools:ignore="MissingClass">
           <intent-filter android:label="@string/app_name">
              <action android:name="com.atakmap.app.component" />
           </intent-filter>
           <intent-filter>
               <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
           </intent-filter>
           <meta-data android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" android:resource="@xml/device_filter" />
       </activity>

    </application>

</manifest>
